body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #e74c3c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#logoimg{
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  padding: 10px 15px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
.search button:hover{
  transform: scale(1.1);
}

.categories {
  padding: 20px;
  text-align: center;
}

.category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s;
  transition: transform 0.2s;
}

.category-item:hover {
  background-color: #e74c3c;
  color: white;
  transform: scale(1.1);
}

#Restaurants{
  background-image: url("images/restaurant-image.webp");
  background-size: 180px;
}

#Shopping{
  background-image: url("images/shopping\(2\).jpg");
  background-size: 180px;
}

.featured {
  padding: 20px;
}

.listing {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h3 {
  color: #e74c3c;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section.social a {
  display: block;
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
}
